body {
    font-family: 'Raleway', sans-serif;
}
main {
    position: relative;
    min-width: 350px;
}
nav {
    color: #FAFBFF!important;
    position: absolute!important;
    opacity: 0.8;
    z-index: 2;
   width: 100%;
    background-color: #47221A!important;
    font-size: 1.3em;
}
nav:hover, .social:hover{
    opacity: 1;
}
.togglerBorder {
border-color: #FAFBFF!important;
}
.lastItem {
    text-align: right;
}
.slides {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.linkView {
    color: #FAFBFF!important;
}
.linkView:hover {
    color: #C97417!important;
    background-color: #47221A!important;
}
.insideMenu {
    background-color: #47221A;
    
    border: none;
}
@keyframes move {
    0%  {top: 0;
        filter: opacity(0);}

    100% {top: 30%;
        filter: opacity(1);}
}
.captionStyle {
    font-weight: bold;
    font-size: 2em;
    text-align: left;
    top: 30%;
    color: #fafbff !important;
    animation: move 2s 1;
    /*background-color: rgba(30,61,66,0.5);*/
}

blockquote:hover {
    background-color: rgba(30,61,66,0.5);

}
.icon_width {
    opacity: 0.7;
    border: 1px solid #FAFBFF;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    color: #FAFBFF;
    text-align: center;
    vertical-align: middle;
    padding: 0.45em;
    font-size: 1.5em;
}
.icon_width:hover {
    opacity: 1;
    color: #C97417;
}
.social {
    text-align: center;
    background-color: #47221A!important;
    color: #FAFBFF!important;
    position: absolute!important;
    opacity: 0.8;
    z-index: 2;
    width: 100%;
    bottom: 0;
}